poc/pipeline/delete_each_file.json
{
	"name": "delete_each_file",
	"properties": {
		"activities": [
			{
				"name": "ForEach1",
				"type": "ForEach",
				"dependsOn": [],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@variables('folder_array')",
						"type": "Expression"
					},
					"isSequential": true
				}
			},
			{
				"name": "Delete1",
				"type": "Delete",
				"dependsOn": [
					{
						"activity": "ForEach1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"enableLogging": true,
					"recursive": true
				}
			}
		],
		"variables": {
			"folder_array": {
				"type": "Array",
				"defaultValue": [
					"emp",
					"payroll",
					"transaction"
				]
			}
		},
		"annotations": []
	}
}